[Unit]
Description=uWSGI SMIL parsing service (nachos)
After=syslog.target

[Service]
ExecStart=/var/lib/nachos/venv/bin/uwsgi --ini /var/lib/nachos/uwsgi.ini
WorkingDirectory=/var/lib/nachos
Restart=always
KillSignal=SIGQUIT
ExecReload=/bin/kill -HUP $MAINPID
Type=notify
StandardError=syslog
NotifyAccess=all
SyslogIdentifier=nachos

[Install]
WantedBy=multi-user.target
